@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

header {
    border: 1px solid red;
    padding: 1rem;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.menu_btn {
    padding-top: 0.4rem;
}

.logo span {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.7rem;
}

.bx {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.cart_btn {
    padding-top: 0.4rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}